/brain
/kaggle
/Phase 1
/Phase 2
/Phase 3
/Docs
/MD17
*.zip
*.pt
/Graph Dynamics Learner/checkpoints_archive
/results
/checkpoints
/data
*__pycache__
*.DS_Store
*.ipynb
/Graph Dynamics Learner/
/MD22
/NBody
/scratch